**/node_modules
**/dist
**/.next
**/out
**/*.log
**/.env
**/.DS_Store
coverage
.nyc_output

contracts/target/*
!contracts/target/idl/
!contracts/target/idl/**
!contracts/target/types/
!contracts/target/types/**

contracts/.anchor
contracts/.cargo

zk/noir/vote_eligibility/target
zk/noir/vote_eligibility/Prover.toml
zk/noir/vote_eligibility/*.proof
zk/noir/vote_eligibility/*.pw
zk/noir/vote_eligibility/*.gz
