node_modules/
dist/
.env
*.log
.DS_Store
coverage/
.nyc_output/
*.tsbuildinfo
cache/
client/.next/
client/out/

# Keypairs
*-keypair.json
*.json.bak

# Anchor / Rust build
contracts/target/*
contracts/.anchor/
contracts/.cargo/

# Keep IDL + types
!contracts/target/idl/
!contracts/target/idl/**
!contracts/target/types/
!contracts/target/types/**

# Noir artifacts
zk/noir/vote_eligibility/target/
zk/noir/vote_eligibility/Prover.toml
