version: "3.8"

services:
  vault:
    image: hashicorp/vault:1.15
    container_name: chameo-vault
    ports:
      - "8200:8200"
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: dev-token
      VAULT_DEV_LISTEN_ADDRESS: 0.0.0.0:8200
    cap_add:
      - IPC_LOCK
    volumes:
      - vault-data:/vault/data

  mongodb:
    image: mongo:7
    container_name: chameo-mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  vault-data:
  mongo-data:
